body{
	text-align: center;
	font-family:Georgia;
}

h1 {
	font-family:Georgia;
	font-size: 40px;
}

h2 {
	font-weight: 
	padding-bottom: 30px;
}
ul li {
	padding-bottom: 25px; 
  list-style: none;
  font-family:Georgia;
  font-size: 18px;
  border-bottom: 1px;
}

ul li a {
	color: #ac4432;
	text-decoration: none;
}

ul li a:hover{
	text-decoration: underline;
	color: #eb3520;
		-webkit-transition-property:color;
		-moz-transition-property:color;
		-o-transition-property:color;
		transition-property:color;
		-webkit-transition-duration:0.5s;
		-moz-transition-duration:0.5s;
		-o-transition-duration:0.5s;
		transition-duration:0.5s;
		-webkit-transition-timing-function: ease;
		-moz-transition-timing-function: ease;
		-o-transition-timing-function: ease;
		transition-timing-function: ease;
}

ul li small {
	font-family:Georgia;
	font-size: 15px;

}